.movie-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 2500px;
}

.btn-container button {
    border-radius: 3px;
    border: none;
    box-shadow: 3px 3px 3px rgb(70, 70, 70);
    background-color: #317031;
    color: white;
    font-family: 'Limelight', cursive;
    font-size: large;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    
}